# DATABASE_URL: Prisma database connection string.
# For SQLite: "file:./dev.db"
# For PostgreSQL: "postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
DATABASE_URL="file:./dev.db"
# Used for self-referential links, OAuth callbacks, and API endpoints.
APP_URL="MY_APP_URL"
